.Create {
    text-align: center;
    background-color: white;
    width: 32%;
    margin: auto;
    padding: 50px;
    box-shadow: 3px 5px 5px 5px #e9e8e8;
}

.Create> h2 {
    margin: 50px 0px;
}

.Create> p {
    padding-bottom: 30px;
    color: rgb(180, 179, 179);
}